.bottom {
    position: relative;
    height: 10rem;
    background: #fff url('../images/crowd.svg') repeat-x left bottom;
    background-size: auto 100%;
}

.licenses {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: rgb(35,31,32);
    font-size: .6rem;
    color: #fff;
    text-align: center;

    a {
        color: #fff;
    }
}