.organizers {
    background-color: #fff;
    padding-bottom: 4rem;

    &__list {
        @extend %container;
        padding-top: 3rem;
        overflow: hidden;
        @include transition;

        @media #{$bp-m} {
            width: 80%;
            margin: 0 auto;
        }

        @media #{$bp-m} {
            width: 60%;
        }
    }

    &__item {
        float: left;
        width: 50%;
        padding: .2rem;
        @include transition;

        //@media #{$bp-m} {
        //    padding: 2rem;
        //}

        @media #{$bp-m} {
            width: 25%;
            padding: 0;
        }

    }

    &__pic {

        img {
            display: block;
            width: 50%;
            margin: 0 auto;
            @include transition;

            @media #{$tp-s-1} {
                width: 30%;
            }


            @media #{$bp-m} {
                width: 90%;
                max-width: 5rem;
            }
        }
    }

    &__name {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        padding-top: .2rem;
        text-align: center;
        font-size: 1rem;
        font-family: $titleFont;
        border-top: solid 3px $green;
        @include transition;

        @media #{$bp-m} {
            font-size: 1.2rem;
                    max-width: 6rem;

        }
    }
}