.postContent__title {
    @extend %container;
    h2 {
        font-size: 2.5rem;
        color: $green;
        text-align: center;
        margin: 2rem 0;
    }
}

.postContent {
    @extend %container;
    margin: 0 auto;
    width: 90%;

    @media #{$bp-m} {
        width: 70%;
    }

    @media #{$bp-l} {
        width: 40%;
    }

    p {
        margin-bottom: 1em;
    }

    blockquote {
        padding: 0 .5em;
        border-left: solid 2px $grey
    }
}

.comments {
    @extend %container;
    padding: 2rem 0;

    #disqus_thread {
        width: 60%;
        margin: 0 auto;
    }
}