.social {
    background-color: #000;
    overflow: hidden;

    &__list {
        @extend %container;
        text-align: right;
    }

    &__item {
        display: inline-block;
        font-size: 1.2rem;
        margin: .5em 1em;
    }

    &__link {
        color: #fff;

        &:hover path,
        &:focus path {
            fill: $yellow;
        }
    }
}

.lobby {
    width: 100%;
    background-color: #fff;
    padding: 2em 0;

    @media #{$bp-l} {
        padding: 5em 0;
    }
}
.pageTitle {
    font: 0/0 auto;
}
.logo {
    width: 10em;
    display: block;
    margin: 0 auto;
    @include transition;

    @media #{$bp-m} {
        width: 15em;
    }

    @media #{$bp-l} {
        width: 20em;
    }
}

.highlight {
    background-color: $lightGrey;

    &__title {
        margin: .5em auto;
        display: block;
        font-size: 5em;
        color: $yellow;
        text-shadow: 1px 1px 3px rgba(0,0,0,.75);
        font-variant: small-caps;
        text-align: center;
        @extend %testline;
    }

    &__authorBlock {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        @extend %testblock;
        @extend %testline;

        &__pic {
            float: left;
            max-width: 35%;

            @extend %testblock;
        }
    }

    &__authorName {
        font-size: 1.5em;
        font-weight: bold;
    }

    &__postDate {
        font-size: 1.5em;
        font-family: monospace;
    }

    &__excerpt {
        float: right;
        max-width: 60%;
        font-size: 1.2em;
        padding-top: 3em;

        @extend %testline;
    }
}

.posts {
    background-color: $lightGrey;
}

.postList {
    @extend %container;
    width: 90%;
    overflow: hidden;
    @include transition;

    @media #{$tp-s-1} {
        width: 80%;
    }

    @media #{$tp-s-1} {
        width: 60%;
    }
}

.post {
    overflow: hidden;
    padding: 1rem 0;
    @include transition;

    @media #{$bp-m} {
        float: left;
        width: 50%;
        min-height: 12rem;
        padding: 2em 5%;
    }

    &__date {
        display: block;
        font-family: monospace;
        font-weight: bold;
        text-align: center;
        clear: both;
    }

    &__authorPic {
        float: left;
        width: 5em;
    }

    &__title {
        float: left;
        max-width: 70%;
        margin-left: .25rem;
        font-size: 1.2em;
        font-variant: small-caps;
        color: $green;
        text-decoration: none;

        &::first-letter {
            font-weight: bold;
            font-size: 1.5em;
        }
    }

    &__author {
        float: left;
        margin-top: .25em;
        margin-left: .5em;
        font-size: 1em;
        text-decoration: none;
        clear: both;
    }

}