<header class="topWrap">
    <div class="menu-trigger"></div>
    <nav id="navbar">
        <ul>
            <li><a href="/#">Home</a></li>
            <li><a href="/#posts">Posts</a></li>
            <li><a href="/#organizers">Organizers</a></li>
        </ul>

        <ul class="svg-padding">
            <li><a href="https://twitter.com/es6rocks">{% include "partials/components/twitter.html" %}</a></li>
            <li><a href="https://github.com/es6rocks">{% include "partials/components/github.html" %}</a></li>
        </ul>
    </nav>
    <section class="lobby">
        <h1 class="pageTitle">
            {{ config.title }}
        </h1>
        <a href="/">
            <img class="logo" src="/images/logo.svg" alt="ES6Rocks" />
        </a>
    </section>
</header>