.bottom
    position relative
    height 125px
    background-size auto 100%

.licenses
    position absolute
    bottom 0
    width 100%
    display block
    background-color rgb(35,31,32)
    font-size 1.10rem
    color #fff
    text-align center
    height 100%
    padding-top 30px
    overflow hidden

.licenses a
    color: #163565