.lobby
    width 100%
    background #F0DB4F
    padding 2em 0

    @media bp-l
        padding: 5em 0


.pageTitle
    margin-left 15px
    margin-right 15px
    font-size 3em
    font-family "Ubuntu Condensed",sans-serif
    font-size 2.2em
    font-weight: normal;
    line-height: 1.2em;
    text-align center
    color #000

    @media tp-s-1
        font-size 2.2em

    @media tp-s-2
        font-size 3.2em

    @media tp-s-3
        font-size 4.2em

    @media tp-s-4
        font-size 5.2em

    @media bp-m
        font-size 6.2em

    @media bp-l
        font-size 7.2em

.logo
    width 1.2em


