<!doctype html>
<html lang="en">

    {% include "partials/head.html" %}

<body>

    {% include "partials/navigation.html" %}
    
    {% include "partials/header.html" %}

    <section id="posts" class="posts">
        <ul class="postList">
            {% for post in posts %}
            <li class="post">
                <div style="{% if post.image %} background: url('/{{ post.image }}') no-repeat center center;  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; {% else %} background:rgba(6, 0, 30, 1); {% endif %}">
                    <span class="post__date">
                        {{ post.date }}
                    </span>
                    <article class="post__content">
                        <a class="post__title" href="/{{ post.link }}">
                            {{ post.title }}
                        </a>
                        <section class="post__excerpt">
                            {{ post.description }}
                        </section>
                    </article>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

</main>
{% include "partials/footer.html" %}