<!doctype html>
<html lang="en" class="language-javascript">
<head>
    <meta charset="UTF-8">
    <title>{{ post.metadata.title }} - {{ config.title }}</title>
    <meta name="author" content="{{ config.author }}">
    <meta name="description" content="{{ post.description }}">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="canonical" href="{{ config.domain }}">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/vendor/prism.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href="/favico.ico" rel="icon">
</head>
<body>
{% include "partials/navigation.html" %}
<body>
	<header class="topWrap">
	    <section class="lobby">
	        <h1 class="pageTitle">
	        <a href="{{ post.metadata.url }}">
				{{ post.metadata.title }}
	        </a>
	        </h1>
	        {% if post.metadata.date %}
	        	<time datetime="{{ post.metadata.date }}">{{ post.metadata.date }}</time>
	        {% endif %}
	    </section>
	</header>

    <ul class="categories">
    	{% for category in post.metadata.categories %}
    		<li>
    			<a class="categoryTag {{ category }}" href="/categories/{{ category | lower | trim }}">
    				{{ category }}
    			</a>
    		</li>
    	{% endfor %}
    </ul>

	<article class="postContent">
		{{ post.content }}
	</article>

	{% include "partials/disqus.html" %}

	{% include "partials/footer.html" %}