<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
	{% include "partials/header.html" %}

    <section id="posts" class="posts">
        <ul class="postList">
            {% for post in posts %}
            <li class="post">
                <span class="post__date">
                    {{ post.date }}
                </span>
                <article class="post__content">
                    <a class="post__title" href="/{{ post.link }}">
                        {{ post.title }}
                    </a>
                    <section class="post__excerpt">
                        {{ post.content }}
                    </section>
                </article>
                <figure class="post__authorInfo">
                    <img class="post__authorPic" src="https://pbs.twimg.com/profile_images/{{ post.authorPicture }}.jpeg"/>
                    <a class="post__author" href="https://twitter.com/{{ post.authorTwitter }}" target="_blank">
                        {{ post.authorName }}
                    </a>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </section>
   
</main>

{% include "partials/footer.html" %}

</body>
</html>