<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.metadata.title }} - {{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="http://es6rocks.com/images/es6rocks.png" />
    <link href="/css/vendor/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% include "partials/navigation.html" %}
<body>
	<header class="postContent__title">
		<h2>
			<a href="http://es6rocks.com">
				{% include "partials/components/es6rocks.html" %}
			</a>
		</h2>
	    <h1>
	      {{ post.metadata.title }}
	    </h1>
	</header>
    <ul class="categories">
    	{% for category in post.metadata.categories %}
    		<li>
    			<a class="categoryTag {{ category }}" 
    				href="/categories/{% if post.metadata.default_lang %}{{ post.metadata.lang }}/{% endif %}{{ category | lower | trim }}">
    				{{ category }}
    			</a>
    		</li>
    	{% endfor %}
    </ul>

	<article class="postContent">
		{{ post.content }}
	</article>

	{% include "partials/disqus.html" %}

	{% include "partials/footer.html" %}

</body>
</html>
</body>
</html>