<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
	{% include "partials/navigation.html" %}

    <section id="posts" class="posts">
        <ul class="postList">
            {% for post in posts %}
            <li class="post">
                <span class="post__date">
                    {{ post.date }}
                </span>
                <article class="post__content">
                    <a class="post__title" href="/{{ post.link }}">
                        {{ post.title }}
                    </a>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% include "partials/footer.html" %}

</body>
</html>