<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
	{% include "partials/header.html" %}

    <section id="posts" class="posts">
        <ul class="postList">
            {% for post in posts %}
            <li class="post">
                <span class="post__date">
                    {{ post.date }}
                </span>
                <article class="post__content">
                    <a class="post__title" href="/{{ post.link }}">
                        {{ post.title }}
                    </a>
                </article>
                <figure class="post__authorInfo">
                    <img class="post__authorPic" src="https://pbs.twimg.com/profile_images/{{ post.authorPicture }}.jpeg"/>
                    <a class="post__author" href="https://twitter.com/{{ post.authorTwitter }}" target="_blank">
                        {{ post.authorName }}
                    </a>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="organizers">
        <ul class="organizers__list">
            <li class="organizers__item">
                <a href="https://twitter.com/atilafassina">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/378800000380374908/7b5cb905760b8d3e3ea6e03732845c33_400x400.jpeg" alt="Átila Fassina photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Átila Fassina
                </span>
            </li>

            <li class="organizers__item">
                <a href="https://twitter.com/felipenmoura">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/1182045890/me_400x400.jpg" alt="Felipe Moura photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Felipe Moura
                </span>
            </li>

            <li class="organizers__item">
                <a href="https://twitter.com/jaydson">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/453720347620032512/UM2nE21c_400x400.jpeg" alt="Jaydson Gomes photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Jaydson Gomes
                </span>
            </li>

            <li class="organizers__item">
                <a href="https://twitter.com/jcemer">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/378800000102797711/6f48a1c46fd6af873f94bae0db0847fc_400x400.jpeg" alt="Jean Carlo Emer photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Jean Carlo Emer
                </span>
            </li>
        </ul>
    </section>
</main>

{% include "partials/footer.html" %}

</body>
</html>