<section class="organizers">
        <ul class="organizers__list">
            <li class="organizers__item">
                <a href="https://twitter.com/atilafassina">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/378800000380374908/7b5cb905760b8d3e3ea6e03732845c33_400x400.jpeg" alt="Átila Fassina photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Átila Fassina
                </span>
            </li>

            <li class="organizers__item">
                <a href="https://twitter.com/felipenmoura">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/1182045890/me_400x400.jpg" alt="Felipe Moura photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Felipe Moura
                </span>
            </li>

            <li class="organizers__item">
                <a href="https://twitter.com/jaydson">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/453720347620032512/UM2nE21c_400x400.jpeg" alt="Jaydson Gomes photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Jaydson Gomes
                </span>
            </li>

            <li class="organizers__item">
                <a href="https://twitter.com/jcemer">
                    <div class="organizers__pic">
                        <img src="https://pbs.twimg.com/profile_images/378800000102797711/6f48a1c46fd6af873f94bae0db0847fc_400x400.jpeg" alt="Jean Carlo Emer photo">
                    </div>
                </a>
                <span class="organizers__name">
                    Jean Carlo Emer
                </span>
            </li>
        </ul>
    </section>