<nav class="social">
    <ul class="meni__list">
        <li class="meni__item">
            <a href="/">Home</a>
        </li> 
        <li class="meni__item">
            <a href="https://speakerdeck.com/jaydson">Talks</a>
        </li>
    </ul>
    <ul class="social__list">
        <li class="social__item">
            <a class="social__link" href="https://twitter.com/jaydson">
                {% include "partials/components/twitter.html" %}
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="https://github.com/jaydson">
                {% include "partials/components/github.html" %}
            </a>
        </li>
    </ul>
</nav>