<section class="organizers">
    <ul class="organizers__list">
    <h3 class="organizers__title">
        Brought by
    </h3>

        <li class="organizers__item">
            <figure class="organizers__pic">
                <a class="" href="http://twitter.com/atilafassina">
                    <img class="" src="https://pbs.twimg.com/profile_images/378800000380374908/7b5cb905760b8d3e3ea6e03732845c33_400x400.jpeg" alt="Átila Fassina photo"/>
                </a>
                <figcaption>
                    <a class="organizers__name" href="http://twitter.com/atilafassina">Átila Fassina</a>
                </figcaption>
            </figure>
        </li>

        <li class="organizers__item">
            <figure class="organizers__pic">
                <a class="" href="http://twitter.com/jaydson">
                    <img class="" src="https://pbs.twimg.com/profile_images/453720347620032512/UM2nE21c_400x400.jpeg" alt="Jaydson Gomes photo"/>
                </a>
                <figcaption>
                    <a class="organizers__name" href="http://twitter.com/jaydson">Jaydson Gomes</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
