.highlight__authorBlock, .highlight__authorBlock__pic {
  width: 100%;
  height: 15em; }

.highlight__title, .highlight__authorBlock, .highlight__excerpt {
  border: 1px dashed firebrick; }

.social__list, .postList, .organizers__list, .postContent__title, .postContent, .comments {
  max-width: 1200px;
  margin: 0 auto; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #141414; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  line-height: 1.4;
  font-family: sans-serif;
  overflow-x: hidden; }

.social {
  background-color: #000;
  overflow: hidden; }
  .social__list {
    text-align: right; }
  .social__item {
    display: inline-block;
    font-size: 1.2rem;
    margin: .5em 1em; }
  .social__link {
    color: #fff; }
    .social__link:hover path, .social__link:focus path {
      fill: #fafa64; }

.lobby {
  width: 100%;
  background-color: #fff;
  padding: 2em 0; }
  @media (min-width: 1000px) {
    .lobby {
      padding: 5em 0; } }

.pageTitle {
  font: 0/0 auto; }

.logo {
  width: 10em;
  display: block;
  margin: 0 auto;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0; }
  @media (min-width: 840px) {
    .logo {
      width: 15em; } }
  @media (min-width: 1000px) {
    .logo {
      width: 20em; } }

.highlight {
  background-color: #f1f1f1; }
  .highlight__title {
    margin: .5em auto;
    display: block;
    font-size: 5em;
    color: #fafa64;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    font-variant: small-caps;
    text-align: center; }
  .highlight__authorBlock {
    width: 70%;
    margin: 0 auto;
    overflow: hidden; }
    .highlight__authorBlock__pic {
      float: left;
      max-width: 35%; }
  .highlight__authorName {
    font-size: 1.5em;
    font-weight: bold; }
  .highlight__postDate {
    font-size: 1.5em;
    font-family: monospace; }
  .highlight__excerpt {
    float: right;
    max-width: 60%;
    font-size: 1.2em;
    padding-top: 3em; }

.posts {
  background-color: #f1f1f1; }

.postList {
  width: 80%;
  overflow: hidden;
  padding: 1em 0;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0; }
  @media (min-width: 600px) {
    .postList {
      width: 98%; } }

.post {
  overflow: hidden;
  padding: 1rem 0;
  background-color: #f1f1f1;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0; }
  @media (min-width: 600px) {
    .post {
      float: left;
      width: 45%;
      min-height: 12rem;
      padding: 2em 15px;
      margin: 2.5%; } }
  @media (min-width: 840px) {
    .post {
      float: left;
      width: 30%;
      margin: 2.5% 1.5%; } }
  .post__date {
    display: block;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    clear: both; }
  .post__authorPic {
    display: block;
    clear: both;
    width: 5em; }
  .post__title {
    display: block;
    clear: both;
    max-width: 70%;
    margin-left: .25rem;
    font-size: 1.2em;
    font-variant: small-caps;
    color: #336666;
    text-decoration: none; }
    .post__title::first-letter {
      font-weight: bold;
      font-size: 1.5em; }
  .post__author {
    display: block;
    margin-top: .25em;
    margin-left: .5em;
    font-size: 1em;
    text-decoration: none;
    clear: both; }
  .post__excerpt {
    margin-left: .5em;
    font-size: .8rem; }
    .post__excerpt p {
      display: none; }
      .post__excerpt p:first-child {
        display: block; }
  .post__authorInfo {
    float: left;
    max-width: 30%; }
  .post__content {
    float: right;
    max-width: 67.2%;
    min-width: 10em; }

.organizers {
  background-color: #fff;
  padding-bottom: 4rem; }
  .organizers__list {
    padding-top: 3rem;
    overflow: hidden;
    -ms-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0; }
    @media (min-width: 840px) {
      .organizers__list {
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 840px) {
      .organizers__list {
        width: 60%; } }
  .organizers__item {
    float: left;
    width: 50%;
    padding: .2rem;
    -ms-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0; }
    @media (min-width: 840px) {
      .organizers__item {
        width: 25%;
        padding: 0; } }
  .organizers__pic img {
    display: block;
    width: 50%;
    margin: 0 auto;
    -ms-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0; }
    @media (min-width: 360px) {
      .organizers__pic img {
        width: 30%; } }
    @media (min-width: 840px) {
      .organizers__pic img {
        width: 90%;
        max-width: 5rem; } }
  .organizers__name {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    padding-top: .2rem;
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    border-top: solid 3px #336666;
    -ms-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0; }
    @media (min-width: 840px) {
      .organizers__name {
        font-size: 1rem;
        max-width: 6rem; } }

.postContent__title h2 {
  font-size: 2.5rem;
  color: #336666;
  text-align: center;
  margin: 2rem 0; }

.postContent {
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 840px) {
    .postContent {
      width: 70%; } }
  @media (min-width: 1000px) {
    .postContent {
      width: 40%; } }
  .postContent p {
    margin-bottom: 1em; }
  .postContent blockquote {
    padding: 0 .5em;
    border-left: solid 2px #a7a9ab; }

.comments {
  padding: 2rem 0; }
  .comments #disqus_thread {
    width: 60%;
    margin: 0 auto; }

.bottom {
  position: relative;
  height: 10rem;
  background: white url("../images/crowd.svg") repeat-x left bottom;
  background-size: auto 100%; }

.licenses {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: #231f20;
  font-size: .6rem;
  color: #fff;
  text-align: center; }
  .licenses a {
    color: #fff; }
