
%testblock {
    width: 100%;
    height: 15em;
}
%testline {
    border: 1px dashed firebrick;
}
%container {
    max-width: 1200px;
    margin: 0 auto;
}
@import 'engine/_settings';
@import 'engine/_helpers';
@import 'engine/_resets';
@import 'engine/_overrides';
@import 'partials/_top';
@import 'partials/_organizers';
@import 'partials/_post';
@import 'partials/_bottom';
