<nav class="social">
    <ul class="flags">
        <li>
            <a href="/pt-br">
                <img src="/images/flag-pt-br.gif">
            </a>
        </li>
        <li>
            <a href="/">
                <img src="/images/flag-en.jpg">
            </a>
        </li>
    </ul>
    
    <ul class="social__list">
        <li class="social__item avatar">
            <a href="https://es6rocks.com">
                {% include "partials/components/avatar.html" %}
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="https://twitter.com/es6rocks">
                {% include "partials/components/twitter.html" %}
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="https://github.com/es6rocks">
                {% include "partials/components/github.html" %}
            </a>
        </li>
    </ul>
</nav>