.social__list,
.postList,
.organizers__list,
.postContent__title,
.postContent,
.comments {
  max-width: 1200px;
  margin: 0 auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  color: #141414;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  line-height: 1.4;
  font-family: sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #05454a;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
a:hover,
a:focus {
  opacity: 0.75;
}
.social {
  background-color: #000;
  overflow: hidden;
}
.social__list {
  text-align: right;
}
.social__item {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.5em 1em;
}
.social__item.avatar {
  float: left;
}
.social__item.avatar svg > path {
  fill: #fff;
}
@media (min-width: 840px) {
  .social__item.avatar {
    display: none;
  }
}
.social__link {
  color: #fff;
}
.social__link:hover path,
.social__link:focus path {
  fill: #fafa64;
}
.lobby {
  width: 100%;
  background-color: #fff;
  padding: 2em 0;
}
@media (min-width: 1000px) {
  .lobby {
    padding: 5em 0;
  }
}
.pageTitle {
  font-size: 0;
  line-height: 0;
  font-family: auto;
}
.logo {
  width: 10em;
  display: block;
  margin: 0 auto;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 840px) {
  .logo {
    width: 15em;
  }
}
@media (min-width: 1000px) {
  .logo {
    width: 20em;
  }
}
.highlight {
  background-color: #f1f1f1;
}
.highlight__title {
  margin: 0.5em auto;
  display: block;
  font-size: 5em;
  color: #fafa64;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.75);
  font-variant: small-caps;
  text-align: center;
}
.highlight__authorBlock {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
.highlight__authorBlock__pic {
  float: left;
  max-width: 35%;
}
.highlight__authorName {
  font-size: 1.5em;
  font-weight: bold;
}
.highlight__postDate {
  font-size: 1.5em;
  font-family: monospace;
}
.highlight__excerpt {
  float: right;
  max-width: 60%;
  font-size: 1.2em;
  padding-top: 3em;
}
.categories {
  margin: 1em 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.categoryTag {
  margin: 0 1em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #808080;
}
.talks {
  background-color: #d2820b;
}
.modules {
  background-color: #532794;
}
.posts {
  background-color: #fff;
}
.postList {
  width: 80%;
  overflow: hidden;
  padding: 1em 0;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 600px) {
  .postList {
    width: 98%;
  }
}
.post {
  overflow: hidden;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #141414;
  box-shadow: 6px 7px 5px 0px #747171;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 600px) {
  .post {
    float: left;
    width: 45%;
    min-height: 12rem;
    margin: 2.5%;
  }
}
@media (min-width: 840px) {
  .post {
    float: left;
    width: 30%;
    margin: 2.5% 1.5%;
  }
}
.post__content {
  width: 100%;
}
.post__date {
  display: block;
  padding-top: 0.5em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  clear: both;
}
.post__title {
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  font-size: 1.2em;
  width: 100%;
  height: 3.6em;
  margin: 0.5em 0;
  padding: 0 0.5em;
  color: #366;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}
.post__title:first-letter {
  font-weight: bold;
  font-size: 1.5em;
}
.post__author {
  width: 100%;
  display: block;
  margin-top: 0.25em;
  font-size: 1em;
  text-decoration: none;
  clear: both;
  background: #366;
  overflow: hidden;
}
.post__excerpt {
  height: 5rem;
  overflow: hidden;
  margin-left: 0.25em;
  margin-bottom: 1em;
  font-size: 0.8rem;
}
.post__excerpt p {
  display: none;
  padding: 1em 2em;
}
.post__excerpt p:first-child {
  display: block;
}
.post__authorInfo {
  float: left;
  max-width: 30%;
}
.author {
  float: left;
  max-width: 25%;
  margin: 1rem 5%;
}
.author__photo {
  width: 100%;
  border-radius: 5px;
}
.post__authorPic {
  display: block;
  clear: both;
  width: 5em;
}
.author__link {
  display: block;
  text-align: center;
  color: #a7a9ab;
  font-size: 0.8em;
}
.author__description {
  float: left;
  max-width: 55%;
  margin-top: 1rem;
  font-size: 0.8em;
  color: #f1f1f1;
}
.organizers {
  padding-bottom: 4rem;
}
.organizers__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  overflow: hidden;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 600px) {
  .organizers__list {
    flex-direction: row;
  }
}
@media (min-width: 840px) {
  .organizers__list {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 840px) {
  .organizers__list {
    width: 60%;
  }
}
.organizers__title {
  font-size: 1rem;
  font-weight: bold;
  color: #a7a9ab;
  text-align: center;
  font-style: italic;
  line-height: 1;
}
@media (min-width: 600px) {
  .organizers__title {
    max-width: 40%;
    position: relative;
    top: -0.2em;
    text-align: right;
    font-size: 1.4rem;
  }
}
.organizers__item {
  float: left;
  padding: 0.2rem;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 840px) {
  .organizers__item {
    padding: 0;
  }
}
.organizers__pic img {
  display: block;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 360px) {
  .organizers__pic img {
    width: 30%;
  }
}
@media (min-width: 450px) {
  .organizers__pic img {
    width: 90%;
    max-width: 5rem;
  }
}
.organizers__name {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  padding-top: 0.2rem;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  border-top: solid 3px #366;
  -ms-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
@media (min-width: 840px) {
  .organizers__name {
    font-size: 1rem;
    max-width: 6rem;
  }
}
.postContent__title {
  margin: 1em 0 2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 840px) {
  .postContent__title {
    flex-flow: row;
  }
}
.postContent__title h1 {
  font-size: 2.5rem;
  color: #366;
  margin: 2rem 0;
  text-align: center;
}
@media (min-width: 840px) {
  .postContent__title h1 {
    text-align: left;
    flex-basis: 60%;
  }
}
.postContent__title h2 {
  display: none;
}
@media (min-width: 840px) {
  .postContent__title h2 {
    display: block;
    height: 10em;
  }
}
.postContent {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 840px) {
  .postContent {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .postContent {
    width: 40%;
  }
}
.postContent p {
  margin-bottom: 1.5em;
}
.postContent blockquote {
  padding: 0 0.5em;
  border-left: solid 2px #a7a9ab;
}
.postContent h2 {
  font-size: 1.2em;
  border-bottom-width: 10px;
  border-bottom: 8px solid #ccc;
  padding-top: 30px;
  margin-bottom: 21px;
  padding-bottom: 10px;
}
.comments {
  padding: 2rem 0;
}
.comments #disqus_thread {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 1000px) {
  .comments #disqus_thread {
    width: 60%;
  }
}
.bottom {
  position: relative;
  height: 10rem;
  background: #fff url("../images/crowd.svg") repeat-x left bottom;
  background-size: auto 100%;
}
.licenses {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: #231f20;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
}
.licenses a {
  color: #fff;
}
