{% include "partials/head.html" %}
	{% include "partials/header.html" %}
	<header class="postContent__title">
	    <h2>
	      {{ post.metadata.title }}
	    </h2>
	    <div class="categories">
	    	{% for category in post.metadata.categories %}
	    		<span>
	    			<a href="/categories/{{ category | lower | trim }}">
	    				{{ category }}
	    			</a>
	    		</span>
	    	{% endfor %}
	    </div>
	</header>

	<article class="postContent">
		{{ post.content }}
	</article>

	{% include "partials/disqus.html" %}

{% include "partials/footer.html" %}