.posts {
    background-color: lightGrey;
}

.postList {
    @extends $container;
    width: 80%;
    overflow: hidden;
    padding: 1em 0;
    transition()

    @media tp-s-3 {
        width: 98%;
    }
}

.post {
    overflow: hidden;
    padding: 1rem 0;
    background-color: lightGrey;
    transition()

    @media tp-s-3 {
        float: left;
        width: 45%;
        min-height: 12rem;
        padding: 2em 15px;
        margin: 2.5%;
    }

    @media bp-m {
        float: left;
        width: 30%;
        margin: 2.5% 1.5%;
        //min-height: 12rem;
        //padding: 2em 15px;
    }
}

.post__date {
    display: block;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    clear: both;
}

.post__authorPic {
    //float: left;
    display: block;
    clear: both;
    width: 5em;
}

.post__title {
    //float: left;
    display: block;
    clear: both;
    max-width: 70%;
    margin-left: .25rem;
    font-size: 1.2em;
    font-variant: small-caps;
    color: green;
    text-decoration: none;
}

.post__title::first-letter {
    font-weight: bold;
    font-size: 1.5em;
}

.post__author {
    //float: left;
    display: block;
    margin-top: .25em;
    margin-left: .5em;
    font-size: 1em;
    text-decoration: none;
    clear: both;
}

.post__excerpt {
    //float: left;
    margin-left: .5em;
    font-size: .8rem;
}

.post__excerpt p {
    display: none;
}

.post__excerpt p:first-child {
    display: block;
}

.post__authorInfo {
    float: left;
    max-width: 30%;
}

.post__content {
    float: right;
    max-width: 67.2%;
    min-width: 10em;
}
